<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>936817680359-umconh0oeujja0dgj82lol69n5g723q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936817680359-umconh0oeujja0dgj82lol69n5g723q7</string>
	<key>API_KEY</key>
	<string>AIzaSyA6RFlrwZYhL3ZyhgJoFDGKt1pMJ-VUrKs</string>
	<key>GCM_SENDER_ID</key>
	<string>936817680359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spi-global.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-15d52</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-15d52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936817680359:ios:4f898c21b7902e9f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-15d52.firebaseio.com</string>
</dict>
</plist>